.table-container {
    overflow-x: auto; 
    max-width: 100%; 
  }
  .table-container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table thead th {
    background-color: #343a40;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .table tbody td {
    text-align: center;
    padding: 10px;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
  .table tbody tr:hover {
    background-color: #e9ecef;
  }
  
  .table tfoot th {
    background-color: #6c757d;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin-right: 5px;
  }
  
  .modal-content {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    background-color: #343a40;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  
  .modal-footer {
    border-radius: 0 0 10px 10px;
  }
  
  .modal-title {
    font-weight: bold;
  }
